body{
background-color: black;
}
#kontener{
	width:1200px;
	margin-right:auto;
	margin-left: auto;

}
#naglowek{
	font-family:impact;
	width:1200px;
	margin:auto;
	margin-bottom:15px;
	
	font-size: 26px;
	color:white;
	


}
a:link    {color:white; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:blue; background-color:transparent; text-decoration:underline; text-shadow:2px 2px 8px blue;}
a:active  {color:red; background-color:transparent; text-decoration:underline; text-shadow:2px 2px 8px red;}

#menu_wyszukaj{
	background-color:786d6d ;
	font-size: 20px;
	font-family:impact;
	color:white;
	width:1200px;
	height:80px;

}





#tresc1a{
	width:auto;
	height: 400px;
	background-color: white;
	color:black;
	font-family: impact;
	font-size:20px;
}
#tresc1b{
	width:auto;
	height:auto;
	background-color: white;
	color:black;
	font-family: impact;
	font-size:20px;

}
#tresc1{
	width:auto;
	height: 300px;
	background-color: white;
	color:black;
	font-family: impact;
	font-size:20px;
}
#silnik{
	float: left;
}
#pilka{
	float: left;
}
#tresc2{
	width:auto;
	height: 300px;
	color:white;
	font-family: impact;
	font-size:20px;
}
#tresc3{
	width:auto;
	height: 400px;
	background-color: white;
	color:black;
	font-family: impact;
	font-size:20px;
}
#motoauto{
	float:left;
}
#wentylacja{
	float:left;
}
#tektura{
	float:left;
}
#poli{
	float:left;
}
#cert{
	float: left ;
}

#stopka{
	width:1200px;
	height:50px;
	color:white;
	font-family:arial;
	font-size: 12px;
	float:left;

}
#fota{
	float:right;
}
#h1{
	font-family: impact;
}
